html, body {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: black;
}

<link rel="preload" href="thaleahfat-webfont.woff2" as="font" type="font/woff2" crossorigin>
@font-face {
	font-family: 'ThaleahFat';
	font-variant-numeric: tabular-nums;
	src: url('thaleahfat-webfont.woff2');
}

canvas {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}