html, body {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background: black;
}

@font-face {
	font-family: 'ThaleahFat';
	src: url('./ThaleahFat.ttf');
}

canvas {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}